.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 408px;
  padding: 24px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
}

label {
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.04em;
}

input {
  margin: 8px 0px 8px;
}

button {
  margin-top: 8px;
}
