.container {
  margin: 0 auto;
  border-radius: 8px;
  padding: 24px;
  width: 534px;
  background-color: #fff;
}

#controls {
  display: flex;
  gap: 16px;
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  margin-bottom: 16px;
  background-color: #f6f6fe;
}

.input {
  width: 150px;
  padding: 8px 16px;
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
}

button {
  width: 120px;
}

[data-destroy] {
  background-color: #ff4e4e;
}

[data-destroy]:hover {
  background-color: #ff7070;
}

#boxes {
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  background-color: #f6f6fe;
}
